config/
shape_sys/csv/
shape_sys/submit_Collect_*
yield_sys/csv/
yield_sys/submit_Collect_*

yield_sys/TheorySys/Cat/

shape_sys/xml/
yield_sys/xml/

*/bin/
*/lib/
*/build/
shape_sys/plotFit/bin/
shape_sys/plotFit/lib/
shape_sys/plotFit/build/

*bak*
*tmp*
*tar.gz
*zip

*csv
*xml
*root
*png
*core.*

exe_*.sh
hep_sub_*/
